@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
    <html>
    <head>
        <title> </title>
    </head>
    <body>
    <div class="text-center">
        <h1 class="display-4">HR Application</h1>
        <img src="~/Images/1661796708657.png" style="max-width:30%;"/>
        <h3>To go employees<a asp-action="Employees" class="btn btn-primary">click here</a> </h3>
        <h3>View<a asp-action="AllEmployees" class="btn btn-primary">all employees</a> </h3>
    </div>
    </body>
    </html>
